.campaigns {
    margin: 50px;
    text-align: center;
}

.campaign {
    width: 600px;
}

nav {
    background-color: #388e3c;
}

.users {
    margin-top: 50px;
}

.photo {
    margin: 20px;
}

.captitle {
    font-weight: 300;
}

.card.small {
    height: 200px;
}

.box {
    width: 90%;
    margin: 0 auto;
}